
*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.body{
  margin-top: 50px;
} 
.letter{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.7;
  font-weight: 300;
}

header {
  color: #333;
  text-align: center;
}
#nav-bar{
  position: fixed;
  top:0;
  left:0; 
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  font-size: 25px;
  z-index: 1;
}
#nav-ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: 65px;
  margin: 0;
  align-items: center;
}
#nav-ul li{
  padding: 0 2rem;
}
.nav-link{
  cursor: pointer;
  transition: color 0.3s ease; 
  text-decoration: none;
  color: #000;
}
.nav-link:hover{
  color : #6E07F3;
}

#welcome-div {
  height: 100vh;
  width: auto;
  padding-top: 65px;
  color: #333;
  background-image: url(https://static.vecteezy.com/system/resources/previews/005/753/561/non_2x/working-space-room-background-with-isometric-elements-vector.jpg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start; 
}
.div-texto-welcome{
  width: 50%;
  height: auto;
  text-align: center;
  color: #fff; /* Color del texto */
  padding-bottom: 30px;
}
.div-texto-welcome h1{
  font-size: 50px;
  padding: 0px; 
  font-weight: 300;
  text-shadow: -1px -1px 2px #000, 1px 1px 2px #000;
  font-family: italic;
  letter-spacing: 0.7;
}
.div-texto-welcome p{
  padding: 0px;
  margin-top: -5px;
  font-size: 30px;
  font-style: italic;
}

.intro-div{
  width: 100%;
  height: 80vh;
  background-color: #6E07F3;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-top: -25px;
}
.intro-title{
  width: 55%;
  height: 200px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 25vh;
}
.intro-title h2{
  width:100%;
  font-family: italic;
}
.intro-title p{
  width:100%;
  font-family: italic;
  font-size: 20;
}

.super-project-div{
  background: linear-gradient(to bottom, #6E07F3 30%, #fff 30%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects-div{
  width: 90%;
  height: 320px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.project-flex{
  display:flex;
  background-color: #fff;
}
.project{
  text-align: center;
  width: 33%;
  padding: 0;
  margin: 0;
}
.border{
  border-right: 2px solid #E7EDF7;
}
.img-proyects{
  width: 100%;
  height: auto;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
}
.bottom-project figcaption{
  color:#333;
  width: auto;
  height: 30px;
  padding-top: -5px;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.bottom-project{
  all: unset;
  cursor: pointer;
  transition: background 0.3s;
} 
figcaption:hover{
  color: #6E07F3; 
  background-color: #f5f5f5;
}
.bottom-more {
  all: unset;
  cursor: pointer;
  text-decoration: none; 
  background-color: #fff;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
}
.bottom-more:hover{
  background-color: #f5f5f5;
  color: #6E07F3;
}
.div-bottom-more-projects{
  padding-top: 15px;
}

#div-grande-profile{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
}
#profile-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.last-div-letter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.last-div-letter h1{
  font-size: 40px;
  padding: 0px; 
}
.last-div-letter h2{
  padding: 0px;
  font-size: 30px;
  font-style: italic;
}
.icon{
  margin-left: 30px;
  margin-right: 5px;
}
.iconos-profile-width-min{
  display:inline;
}

#copyright{
  display: flex;
  justify-content: space-around;
  align-items: self-end;
  height: 300px;
  width: 100%;
}
.link-copy{
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: medium;
}
h3{
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 400px) and (max-width: 550px){ 
  #welcome-div {
    height: 46vh;
  }
  .div-texto-welcome h1{
    font-size: 20px;
  }
  .intro-title{
    width: 65%;
    height: 200px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-top: 20vh;
  }
  .intro-title h2{
    width:100%;
    font-family: italic;
    font-size: 20px;
  }
  .intro-title p{
    width:100%;
    font-family: italic;
    font-size: 15px;
  }
  #projects-div{
    height: 675px;
  }
}
@media screen and (min-width: 550px) and (max-width: 670px){
  #projects-div{
    height: 720px;
  }
  #welcome-div {
    height: 53vh;
  }
  .div-texto-welcome h1{
    font-size: 30px;
  }
}
@media screen and (min-width: 660px) and (max-width: 750px){
  #projects-div{
    height: 820px;
  }
  #welcome-div {
    height: 60vh;
  }
  .div-texto-welcome h1{
    font-size: 40px;
  }
}
@media screen and (min-width: 755px) and (max-width: 1050px){
  #welcome-div {
    height: 65vh;
  }
  .div-texto-welcome h1{
    font-size: 40px;
  }  
}
@media screen and (min-width: 700px) and (max-width: 800px){
  .img-proyects{
    width: 60%;  
  }
  #projects-div{
    height: 880px;

  }
}
@media screen and (min-width: 800px) and (max-width: 1200px){
  #projects-div{
    height: 300px;
  }
}
@media screen and (min-width: 400px) and (max-width: 800px){
  
  .div-texto-welcome h1{
    font-size: 16;
  }
  #nav-bar{
    background-color: #fff;
  }
  .super-project-div{
    flex-direction: row;
  }
  .project-flex{
    flex-direction: column;
  }
  .project{
    width: 100%;
  }
  .border{
    border-right: 2px solid #fff;
  }
  .img-proyects{
    width: 70%;
  }
  .bottom-project figcaption{
    width: 75%;
    margin: 0 auto;
    margin-top: -5px;
  }
  .iconos-profile-width-min{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
  }
}

  
